---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/common/Hero/index.astro';
import Flex from '../components/common/Flex';
import {
  heroWrapStyle,
  heroTitleStyle,
  postCoverContainerStyle,
  postCoverTitleStyle,
  postCoverDescriptionStyle,
  postCoverTagStyle,
} from './index.css';
import {getCollection} from 'astro:content';
import Txt from '../components/common/Txt';
import {dateFormat} from '../utils/date';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <Flex gap={48} direction="column">
    <div class={heroWrapStyle}>
      <Hero width={900} height={250} src="/assets/mainHero.jpeg" alt="hero" />
      <p class={heroTitleStyle}>
        안녕하세요, 저의 청춘을 담은 곳입니다.<br />
         즐겁게 감상해주시면 감사하겠습니다 :)
      </p>
    </div>
    <section>
      <Flex direction="column" gap={40}>
        {
          posts.map((post) => (
            <article class={postCoverContainerStyle}>
              <a href={`/post/${post.slug}`}>
                <h3 class={postCoverTitleStyle}>{post.data.title}</h3>
                <p class={postCoverDescriptionStyle}>{post.data.description}</p>
                <Flex align="center" justify="space-between">
                  <Flex align="center" gap={10} wrap="wrap">
                    {post.data.tags.map((tag) => (
                      <span class={postCoverTagStyle}>{tag}</span>
                    ))}
                  </Flex>
                  <Txt size="small" color="gray400">
                    {dateFormat(post.data.pubDate, 'yyyy. M. d')}
                  </Txt>
                </Flex>
              </a>
            </article>
          ))
        }
      </Flex>
    </section>
  </Flex>
</Layout>
