---
import {type CollectionEntry} from 'astro:content';
import TableOfContents from '../../components/common/TableOfContents/index.tsx';
import '../../styles/markdown.css';
import PostSummary from '../../components/post/PostSummary/index.astro';
import {contentContainerStyle, sectionContainerStyle} from './index.css';
import {convert} from '../../utils/functions/convert';

type Props = {
  post: CollectionEntry<'blog'>;
  viewCount: number;
};

const {post, viewCount} = Astro.props;

const {Content} = await post.render();
---

<section class={sectionContainerStyle}>
  <article id="markdown-container" class={contentContainerStyle}>
    <PostSummary post={post} viewCount={viewCount} />
    <Content />
  </article>
  {
    convert(Content, (Content) => (
      <TableOfContents>
        <Content />
      </TableOfContents>
    ))
  }
</section>
