---
import { SITE_DESCRIPTION, SITE_TITLE } from '../constants';
import Footer from './Footer/index.astro';
import Header from './Header';
import '../styles/globalStyle.css';
import '../styles/theme.css';
import '../styles/fonts.css';
import { containerStyle, wrapStyle } from './layout.css';
import Metatags from '../components/Metatags/index.astro';

export interface Props {
  url?: string;
  pageTitle?: string;
  description?: string;
}

const { pageTitle = SITE_TITLE, url = '/', description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <Metatags url={url} pageTitle={pageTitle} description={description} />
    <title>{pageTitle} | 임동현</title>
  </head>
  <body>
    <div class={containerStyle}>
      <Header />
      <main class={wrapStyle}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
