---
import {
  containerStyle,
  footerCopyRightTextStyle,
  footerSocialIconStyle,
  profileDescriptionContainerStyle,
  profileDescriptionStyle,
  profileImageStyle,
  profileNameStyle,
} from './footer.css';
import { Image } from 'astro:assets';
import Flex from '../../components/Flex';
import { SOCIAL_GITHUB, SOCIAL_GMAIL, SOCIAL_LINKEDIN } from '../../constants';

const SOCIAL_LINK_ICONS_MAP = [
  {
    icon: '/icons/email-icon.svg',
    link: SOCIAL_GMAIL,
  },
  {
    icon: '/icons/github-icon.svg',
    link: SOCIAL_GITHUB,
  },
  {
    icon: '/icons/linkedIn-icon.svg',
    link: SOCIAL_LINKEDIN,
  },
];
---

<footer class={containerStyle}>
  <Flex align="center" justify="space-between">
    <Flex align="center" gap={10}>
      {
        SOCIAL_LINK_ICONS_MAP.map(({ icon, link }) => (
          <a class={footerSocialIconStyle} href={link} target="_blank" rel="noopener noreferrer">
            <Image width={20} height={20} src={icon} alt="social" />
          </a>
        ))
      }
    </Flex>
    <span class={footerCopyRightTextStyle}
      >© 2023 Ivan Lim Powered by
      <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>
    </span>
  </Flex>
</footer>
